Make.common
src/Makefile
src/graphics/Makefile
src/aterm
Makefile
config.h
config.h.generated
config.h.jwt
JWTNOTES.txt
config.log
config.status
*.pro
.deps
*.a
*.dep
*.diff
*.dll
*.dylib
*.exe
*.gcda
*.gcno
*.mo
*.moc
*.o
*.patch
*.so
*.lng
*.LNG
*.bad
*.EXPERIMENTAL
*.emk
*~
